{% extends 'layout.html' %}

{% block body %}
<!-- if user is  an admin -->
    <h1> S0ul F0rg3<small> Welcome, {{session.username}}</small></h1>
    <hr>
    <p><strong></strong></p>
    <style>
    @import url(https://fonts.googleapis.com/css?family=Orbitron:400,500,900,700);
body {
  font-family: 'Orbitron', sans-serif;
}

h2 {
  color: green;
  text-align: center;
  font-size: 3em;
}

#character-container {
  padding: 10px;
  width: 1000px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  margin: 0 auto;
}

#character-box {
  width: 300px;
  height: 370px;
  float: left;
  border-radius: 5px;
  border: 1px solid black;
  background-color: green;
  background-image: url('http://vignette2.wikia.nocookie.net/simpsons/images/7/75/Mario.png/revision/latest?cb=20100202173945');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  margin-right: 50px;
}

#character-container img {
  height: 150px;
  width: 100px;
  border: 3px groove green;
  padding: 10px;
  margin: 2.5px;
}

#character-container img:hover {
  border-color: blue;
  box-shadow: 0 0 5px blue;
}
</style>
    {# <table id="example" class="table table-striped">
    <tr>
      <th style="font-size: 15px">Name</th>
    </tr>
    <a href="https://medium.com/algorithms-and-leetcode/backtracking-e001561b9f28" style="background-color:#192061;color:white" class="btn btn-default pull-right">Link to book</a>
    {% for d in data %}
      <tr>
        <td style="font-size: 16px"><a href="/edit_character/{{d[1]}}">{{d[0]}}</td>
      </tr>
    {% endfor %}
    <tr>
      <td><a href="add_character/" class="btn btn-default pull-right">Add New Character</a></td>
    </tr>

    </table> #}

    <div id="character-container">
  <h2>Character Select</h2>
  <div id="character-box"></div>
  {% for d in data %}
  <img src="http://vignette2.wikia.nocookie.net/simpsons/images/7/75/Mario.png/revision/latest?cb=20100202173945" onclick="mario()"></img>
  <td style="font-size: 16px"><a href="/edit_character/{{d[1]}}">{{d[0]}}</td>
    <audio id="mario-audio" src="http://themushroomkingdom.net/sounds/wav/sm64/sm64_mario_haha.wav" ></audio>
{% endfor %}
  </div>
        <td><a href="add_character/" class="btn btn-default pull-right">Add New Character</a></td>

    <div style="width: 20%; float:left">

<canvas id="chart" width="600" height="400"></canvas>
</div>
    <script>
    var colors = [
    "#F7464A", "#46BFBD", "#FDB45C", "#FEDCBA",
    "#ABCDEF", "#DDDDDD", "#ABCABC", "#4169E1",
    "#C71585", "#FF4500", "#FEDCBA", "#46BFBD"]
    var i = 0;
      var pieData = [
        {% for art in graphs %}
          {
            value: {{art.count}},
            label: "{{art.category}}",
            color : colors[i++]
          },
        {% endfor %}
      ];
      // get bar chart canvas
      var mychart = document.getElementById("chart").getContext("2d");
      steps = 10
      max = {{ max }}
      // draw pie chart
      new Chart(document.getElementById("chart").getContext("2d")).Pie(pieData);
    </script>
    <div style="width: 50%; float:right; padding-top: 50px">
    <table id="example1" class="table table-striped" align = "right">
    {% for article in graphs %}
      <tr>
        <td style= "background-color:{{colors[loop.index0]}};"></td>
        <td>{{article.category}}</td>
      </tr>
    {% endfor %}
    </table>
    </div>
  


    <div style="width: 100%;position: relative; padding-top: 450px;margin: auto; width: 50%;">
   <canvas id="linegraph" width="600" height="400"></canvas>
   </div>
    <script>
      // bar chart data
      var barData = {
        labels : [
          "JAN","FEB","MAR","APR","MAY","JUN"
        ],
        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          bezierCurve : false,
          data : [173.23,230.43,340.23,142.23,50.20,600.23]
          }
	]
      }
      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;
      // get bar chart canvas
      var mychart = document.getElementById("linegraph").getContext("2d");
      steps = 10
      max = {{ max }}
      // draw bar chart
      var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });
    </script>
{% endblock %}