{% extends 'layout.html' %}

{% block body %}
<h1>Edit Character</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.name, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.sex, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.age, class_="form-control" ) }}
    </div>
    <div class="form-group">
      {{ render_field(form.height, class_="form-control" ) }}
    </div>
    <div class="form-group">
      {{ render_field(form.race, class_="form-control" ) }}
    </div>
    <div class="form-group">
      {{ render_field(form.weight, class_="form-control" ) }}
    </div>
    <div class="form-group">
      {{ render_field(form.eyeColor, class_="form-control" ) }}
    </div>
    <div class="form-group">
      {{ render_field(form.hairColor, class_="form-control" ) }}
    </div>
    <div class="form-group">
      {{ render_field(form.backgroundInfo, class_="form-control" ) }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Submit">
  </form>
  <a href="/add_traits/"><input class="btn btn-primary" type="submit" value="Add traits to this character"></a>
{% endblock %}
