{% extends 'layout.html' %}

{% block body %}
<h1>Add Traits to your Character</h1>
  {% from "includes/_formhelpers.html" import render_field %}
    <table id="example" class="table table-striped">
    <tr>
      <th style="font-size: 15px">AP</th>
      <th style="font-size: 15px">Name</th>
      <th style="font-size: 15px">Description</th>
      <th style="font-size: 15px">Quantity</th>
    </tr>

    {% for column in columns %}
      <tr>
        <td style="font-size: 16px">{{column[0]}}</td>
        <td style="font-size: 16px">{{column[2]}}</td>
        <td style="font-size: 16px">{{column[1]}}</td>
        <td style="font-size: 16px">
        <form method="POST">
          <input name="text" value=0>
          <input type="hidden" name="effect" value="{{column[3]}}">
          <input style="background-color:#f7b600; color:black" type="submit" value="Save" class="btn btn-danger">
         </form>  
        </td>
         
        {# <td style="font-size: 16px">{{result.merchantName}}</td>
        <td style="font-size: 16px">{{result.amount}}</td>
        <td style="font-size: 16px">{{result.category}}</td>
        {# <td><a href="view_reciept/{{article.id}}" style="background-color:#192061;color:white" class="btn btn-default pull-right">View</a></td> #}
        {# <td>
          <form  action="{{url_for('delete_article', id=article.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input style="background-color:#f7b600; color:black" type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td> #}
      </tr>
     
    {% endfor %}
    <tr>
      <td><a href="/character_sheet/{{id}}" class="btn btn-default pull-right">Go to Character Sheet</a></td>
    </tr>

    </table>
{% endblock %}
